:root {
  --bs-font-sans-serif: 'Poppins', sans-serif;
  --bs-body-font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  /* Bootstrap light gray */
}

/* Custom Utilities for Camera overlay if needed */
.object-cover {
  object-fit: cover;
}

.h-96 {
  height: 24rem;
}

.cursor-pointer {
  cursor: pointer;
}